body {background-color:gray;
	font-size: 130
	margin: 0;
	padding: 0;
}
#content
|{color:red;
 margin: 0;
	padding: 0px;
}
#box {
	margin: 20;
	padding: 10px;
	background-color: green;
	border: 5px solid black;
}


